/* General */
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	left: 0;
	font-family: "Poppins", sans-serif;
}

.button {
	padding: 1rem 1.5rem;
	background-color: green;
	border-radius: 10px;
	color: white;
	font-size: 1rem;
}

/* Navigation */

nav {
	background: #fafafa;
	color: black;
	height: 80px;
	margin-bottom: 2em;
	width: 100%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

label.logo {
	color: black;
	font-size: 1.5rem;
	line-height: 80px;
	padding: 0 3em;
	font-weight: bold;
}

label.logo a {
	color: black;
}

.navbar-items {
	float: right;
}

.navbar-item {
	list-style: none;
	display: inline-block;
	line-height: 80px;
	font-weight: bold;
	margin: 0 15px;
}

.navbar-link {
	color: black;
	font-size: 15px;
	padding: 0.5rem 1rem;
}

.checkbtn {
	font-size: 2rem;
	color: black;
	float: right;
	line-height: 80px;
	margin-right: 3rem;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 940px) {
	/* Navbar */

	.nav {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	label.logo {
		display: none;
	}

	.checkbtn {
		display: block;
	}

	.navbar-items {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: white;
		left: -100%;
		transition: all 0.5s;
		text-align: center;
	}

	.navbar-item {
		display: block;
		margin: 50px;
		line-height: 30px;
	}

	.navbar-link {
		font-size: 20px;
	}

	.navbar-link:hover,
	.navbar-link.active {
		background: none;
	}

	#check:checked ~ ul {
		left: 0;
	}

	/* Explainer */

	.explainer-intro {
		width: 100%;
	}

	.profile-img {
		display: none;
	}

	/* Explainer */

	.explainer {
		text-align: center;
		margin: 0 auto;
	}

	.explainer-intro {
		width: 300px;
	}
	.explainer h1 {
		font-size: 1rem;
	}
}

/* Explainer */

.explainer {
	text-align: center;
	margin: 50px;
}

.explainer-intro {
	margin: 0;
	padding: 2rem;
	border-radius: 10px;
	width: 600px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.explainer-intro p,
.explainer-intro h1 {
	margin: 2em 0;
}

.explainer-intro h1 {
	font-size: 3em;
}

.explainer-intro form {
	margin: 1em 0;
}

.email {
	padding: 5px;
	margin: 10px 0;
}

.submit {
	padding: 5px;
	margin: 10px 0;
}

/* Information */

@media (max-width: 600px) {
	.information {
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: 605px) {
	.information {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.information i {
	font-size: 50px;
	margin: 1rem 0;
}

.information-area {
	margin: 1em auto;
	font-size: 0.8em;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 2rem;
	width: 300px;
	border-radius: 10px;
	text-align: center;
}

.information-area:hover {
	border: 3px solid #ff7a59;
	color: #ff7a59;
	background: #fff;
}

/* About */

.about {
	margin: 0 auto;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 100%;
}

.about-container {
	margin: 0 auto;
	width: 60%;
}

.profile-img {
	width: 200px;
	height: 200px;
	margin-top: 2em;
	border-radius: 25px;
}

.about-section {
	margin: 2em;
}
/* Process */

.process {
	margin: 1em auto;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 100%;
	color: white;
	background-color: #03dac6;
}

.process-container {
	margin: 0 auto;
	width: 60%;
}

.process-section {
	margin: 2em;
}

/* Pricing */

.price-columns {
	float: left;
	width: 50%;
	padding: 8px;
}

.price {
	list-style-type: none;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.price .header {
	background-color: #111;
	color: white;
	font-size: 20px;
	border-radius: 10px;
}

.price li {
	border-bottom: 1px solid #eee;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

.price .grey {
	font-size: 20px;
}

.button {
	background-color: #61d800;
	border: none;
	color: white;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

.included {
	color: green;
}

.not-included {
	color: red;
	text-decoration: line-through;
}
